a.app-link {
   text-decoration: none;
   color: white;
   text-shadow: 2px 5px 5px #303030;
   font-size: large;
}

a.app-link {
   text-decoration: none;
   color: white;
   text-shadow: 2px 5px 5px #303030;
   font-size: large;
}