{% extends 'layout.html.twig' %}

{% block title %}Share confidential content{% endblock %}

{% block pageContent %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Share content with high security</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> Share a message</h6>
                </div>
                <div class="card-body">
                    <form id="formEncryptMessage" class="" action="">
                        <div class="form-group">
                            <label for="bookmarkName" class="required">Bookmark name / title (optional)</label>
                            <input type="text" id="bookmarkName" name="bookmarkName" class="form-control"
                                   placeholder="custom name or description">
                        </div>
                        <div class="form-group">
                            <label for="messageClear" class="required">Message</label>
                            <textarea id="messageClear" name="messageClear" class="form-control" rows="10"
                                      data-rule-minlength="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="passPhrase" class="required">Passphrase</label>
                            <input id="passPhrase" name="passPhrase" type="password" class="form-control"
                                   data-rule-minlength="6" required>
                        </div>
                        <div class="form-group">
                            <label for="remainingViews" class="required">Remaining views</label>
                            <input id="remainingViews" name="remainingViews" type="text" class="form-control" value="1"
                                   required="required">
                        </div>
                        <label for="delay" class="required">Delay</label>
                        <div class="form-group input-group">
                            <input id="delay" name="delay" type="text" class="form-control" value="10"
                                   required="required">
                            <select id="delayType" name="delayType" class="form-control" required="required">
                                <option value="minute" selected="selected">minute(s)</option>
                                <option value="hour">hour(s)</option>
                                <option value="day">day(s)</option>
                            </select>
                        </div>
                        <button id="btnSubmitMessage" class="btn btn-info"><i class="fa fa-lock"></i> Encrypt message
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-history"></i> Sent messages (from your
                        browser)</h6>
                </div>
                <div class="card-body">
                    <div id="messagesHistory">
                        <i>no history</i>
                    </div>
                    <br/>
                    <button class="btn btn-info" id="btnHideBookmarks"><i class="fa fa-ban"></i> clear bookmarks
                    </button>
                    <textarea id="to-copy" style="display: none" class="form-control" rows="1"></textarea>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-question-circle"></i> How it works ?
                    </h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            sender create message and pass phrase
                        </li>
                        <li>
                            message is encrypted with pass phrase and sent with the pass phrase salted hash
                        </li>
                        <li>
                            a resource link is displayed to the sender
                        </li>
                        <li>
                            the sender communicate the resource link and the pass phrase to a receiver (on 2 different
                            medium)
                        </li>
                        <li>
                            the receiver open the kilik share link and send the phrase salted hash to the server
                        </li>
                        <li>
                            if hash match, encrypted message is returned to the receiver, decryption is done on receiver
                            client side only
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-question-circle"></i> Why it's safe ?
                    </h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            the pass phrase is never transmitted with the server
                        </li>
                        <li>
                            clear message is never transmitted with the server
                        </li>
                        <li>
                            a resource link is displayed to the sender
                        </li>
                        <li>
                            random UUID are used to salt encryption
                        </li>
                        <li>
                            error messages are fuzzy
                        </li>
                        <li>
                            no brut force possible on client side
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    var uuid="{{ uuid }}";

    function everySeconds()
    {
        refreshListFromLocalStorage();
    }

    function refreshListFromLocalStorage()
    {
        var messagesHistory = JSON.parse(localStorage.getItem("messagesHistory")) || [];

        if(0 === messagesHistory.length) {
            $("#messagesHistory").html('<i>no history</i>');
        }
        else {
            var content="";
            var i=0;
            content=content+'<table class="table table-striped table-hover">';
            content=content+'<thead>';
            content=content+'<tr><th>name</th><th>link</th><th>expiration</th><th>max views</th></tr>';
            content=content+'</thead>';
            content=content+'<tbody>';
            messagesHistory.forEach(function(element) {
                // remaining time
                var date=new Date();
                var secondsRemaining=Math.floor(element.expiration-date.getTime()/1000);
                var minutesRemaining=Math.floor(secondsRemaining/60);
                var hoursRemaining=Math.floor(secondsRemaining/(60*60));
                var daysRemaining=Math.floor(secondsRemaining/(24*60*60));
                date.setTime(element.expiration*1000);
                var remainingString='';
                if(daysRemaining>0) {
                    remainingString=daysRemaining+' days';
                }
                else if(hoursRemaining>0) {
                    remainingString=hoursRemaining+' hours';
                }
                else if(minutesRemaining>0) {
                    remainingString=minutesRemaining+' minutes';
                }
                // don't display remaining seconds since refreshed only one time per minute
                // else if(secondsRemaining>0) {
                //     remainingString=secondsRemaining+' seconds';
                // }
                else {
                    remainingString='expired';
                }

                content=content+'<tr>';
                content=content+'<td><button class="btn btn-small copy-to-clipboard" data-url="'+element.url+'" data-expiration="'+date.toLocaleString()+'" data-name="'+element.bookmarkName+'" ><i class="fa fa-copy"></i> '+element.bookmarkName+'</button></td>';
                content=content+'<td><a href="'+element.url+'" target="_blank">'+element.uuid+'</a><button class="btn btn-copy-link copy-link-to-clipboard invisible" data-toggle="tooltip" data-placement="top" title="Copier le lien" data-url="'+element.url+'"><i class="fa fa-link fa-sm"></i></button></td>';
                if(daysRemaining>0 || hoursRemaining>0) {
                    content=content+'<td><p class="text-success">'+remainingString+'</p></td>';
                }
                else if(minutesRemaining>0 || secondsRemaining>0) {
                    content=content+'<td><p class="text-warning">'+remainingString+'</p></td>';
                }
                else {
                    content=content+'<td><p class="text-danger">'+remainingString+'</p></td>';
                }
                // initial max views
                content=content+'<td>'+element.maxViews+'</td>';
                content=content+'</tr>';
            });
            content=content+'</tbody>';
            content=content+'</table>';
            $("#messagesHistory").html(content);
            $(".copy-to-clipboard").click(function(e) {
               var $this=$(this);
               var toCopy = document.getElementById('to-copy');
               var copyContent='';
               copyContent=copyContent+$this.attr("data-name")+'\n';
               copyContent=copyContent+'link: '+$this.attr("data-url")+'\n';
               copyContent=copyContent+'expiration: '+$this.attr("data-expiration")+'\n';
               copyContent=copyContent+'pass phrase: sent by an another communication tool\n';
               toCopy.value=copyContent;
               toCopy.style.display="block";
               toCopy.select();
               document.execCommand('copy');
               toCopy.style.display="none";
               $.notify("Link copied to clipboard", "success");
            });
            $(".copy-link-to-clipboard").click(function(e) {
               var $this=$(this);
               var toCopy = document.getElementById('to-copy');
               var copyContent='';
               copyContent=copyContent+$this.attr("data-url");
               toCopy.value=copyContent;
               toCopy.style.display="block";
               toCopy.select();
               document.execCommand('copy');
               toCopy.style.display="none";
               $.notify("Link copied to clipboard", "success");
            });
            initCopyLink();
        }
    }
    
    function initCopyLink(){
            $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.table tbody tr').hover(function () {
                $(this).find('.btn-copy-link').removeClass('invisible');
            }, function () {
                $(this).find('.btn-copy-link').addClass('invisible');
            });
            })
        }

    $(document).ready(function() {

        refreshListFromLocalStorage();
        var schedulerSeconds = setInterval(everySeconds, 60000);

        var formValidator=$("#formEncryptMessage").validate({
             successClass: "text-success",
             errorClass: "text-danger",
             submitHandler: function(form) {
                var bookmarkName=$("#bookmarkName").val();
                var messageClear=$("#messageClear").val();
                var passPhrase=$("#passPhrase").val();
                var maxViews=$("#remainingViews").val();
                var delay=$("#delay").val();
                var delayType=$("#delayType").val();

                var encryptedMessage = CryptoJS.AES.encrypt(messageClear, uuid + passPhrase).toString();
                var encryptedPassPhrase = CryptoJS.SHA256(uuid + passPhrase).toString();

                var post = {
                    'uuid': uuid,
                    'encryptedMessage': encryptedMessage,
                    'encryptedPassPhrase': encryptedPassPhrase,
                    'maxViews': maxViews,
                    'delay': delay,
                    'delayType': delayType,
                };

                // @todo debug
                // console.log(post);

                $.ajax({
                    url: '/message',
                    type: 'post',
                    contentType: "application/json",
                    data: JSON.stringify(post),
                    }).done(function(data) {
                        if("ok" != data.status) {
                            console.log(data);
                            $.notify("Error in message encryption: "+data.message, "error");
                        }
                        else {
                            // append bookmark name
                            data.bookmarkName=bookmarkName;
                            // append to local storage
                            var messagesHistory = JSON.parse(localStorage.getItem("messagesHistory")) || [];
                            messagesHistory.push(data);
                            localStorage.setItem("messagesHistory",JSON.stringify(messagesHistory));
                            refreshListFromLocalStorage();
                            // update next uuid
                            uuid=data.newUuid;
                            // and clear all sensitive fields + bookmark name
                            $("#bookmarkName").val('');
                            $("#messageClear").val('');
                            $("#passPhrase").val('');
                            $.notify("Message encrypted, added to the 'sent messages' list", "success");
                        }
                    }).fail(function(data) {
                        $.notify("Error in message encryption: "+data.responseJSON.message, "error");
                    });

             }
        });

        $("#btnHideBookmarks").click(function () {
            localStorage.setItem("messagesHistory",JSON.stringify([]));
            refreshListFromLocalStorage();
            $.notify("Local bookmarks cleared", "success");
        });

    });

</script>
{% endblock %}
