{% extends 'layout.html.twig' %}

{% block title %}Share confidential content{% endblock %}

{% block pageContent %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Open a secured message</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4" id="passPhraseBox">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> Open a message</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">Message Identifier: <b>{{ uuid }}</b>
                    </div>
                    <div class="form-group"><label for="passPhrase" class="required">Pass phrase</label>
                        <input id="passPhrase" type="password" class="form-control" placeholder="input the pass phrase here">
                    </div>
                    <button id="btnDecryptMessage" class="btn btn-info"><i class="fa fa-lock"></i> Decrypt message</button>
                </div>
            </div>
            <div class="card mb-4" id="messageDecryptedBox" style="display: none;">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-edit"></i> Message opened</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">Message Identifier: <b>{{ uuid }}</b></div>
                    <div class="form-group">Remaining views: <b id="remainingViews">0</b></div>
                    <div class="form-group"><label for="message">Message</label>
                        <textarea id="message" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-question-circle"></i> How to decrypt a message ?
                    </h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            the sender should have sent you a pass phrase to open this link
                        </li>
                        <li>
                            enter the pass phrase and clic the "Decrypt" button
                        </li>
                        <li>
                            if the link and the pass phrase are good, you will show the message
                        </li>
                        <li>
                            if link is bad or expired, or if the pass phrase is wrong, you got a generic error message
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-question-circle"></i> Limitations
                    </h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            messages are limited in time
                        </li>
                        <li>
                            views are limited to a number defined by the sender
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    var uuid="{{ uuid }}";

    $("#btnDecryptMessage").click(function() {
        var passPhrase=$("#passPhrase").val();

        // passPhrase is hashed before sent to remote server
        var encryptedPassPhrase = CryptoJS.SHA256(uuid + passPhrase).toString();

        var post = {
            'uuid': uuid,
            'encryptedPassPhrase': encryptedPassPhrase,
        };

        // try to  get encrypted message from remote server (if encrypted passphrase match)
        $.ajax({
            url: '/message/' + uuid,
            type: 'post',
            contentType: "application/json",
            data: JSON.stringify(post),
            }).done(function(data) {
                if (typeof(data.status) !== 'undefined' && data.status == 'success') {
                    var remainingViews = data.remainingViews;
                    // message decoding (with clear pass phrase and uuid has salt)
                    var message = CryptoJS.AES.decrypt(data.message, uuid + passPhrase).toString(CryptoJS.enc.Utf8);

                    $("#btnDecryptMessage").prop("disabled", true);

                    $("#message").val(message);
                    $("#remainingViews").html(remainingViews);
                    $("#passPhraseBox").hide();
                    $("#messageDecryptedBox").show();
                    $.notify("Message decrypted", "success");
                }
                else {
                    $.notify("Error in message decryption", "error");
                }
            }).fail(function(data) {
                $.notify("Error in message decryption: "+data.responseJSON.message, "error");
            });
        });
</script>
{% endblock %}
